body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0px;
    /* padding: 5px; */
}
#wrapper{
max-width: 1250px;
min-height: 100vh;
background-color: lightblue;
margin: auto;
/* padding: 5px; */
}
header {
  /* background-color: #f4f4f4; */
  color: slategrey;
  text-align: center;
  /* padding: 15px 0; */
  /* margin: 5px; */
  font: bold 2.5em sans-serif;
  /* text-shadow: 3px 3px darkslategray; */
}
#container{  
    /* width: 99%; */
    display: flex;
    flex-direction: column;
   /* background-color: blanchedalmond;
   margin: 5px;
   padding: 5px; */
}
section {
  /* background-color: slategray;
  margin: 0 0 5px;
  padding: 5px; */
}
/* article {
  background-color: salmon;
} */
.gridContainer{   
   background-color: lightblue;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content:space-evenly;
    /* margin: 5px; */
}    
#buttonPanel{
  display: flex;
  flex-direction: row;
  width: 80%;
}

.quizBlock{
  height: 600px;
}
#categoryPanel {
  height: 75vh;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  /* margin: 5px;
  padding: 5px; */
}
.topic-panel {
  /* background-color: salmon;
  /* display: flex;
  flex-direction: row; */
  /* margin: 5px;
  padding: 5px;  */
}
.panel {
  height: 350px;
  /* width: 350px; */
  /* background-color: salmon; */
  /* background-color: aliceblue;
  margin:5px;
  padding: 5px;  */
}
.quizBlock{
  display: block;
  width: 45vw;
  max-width: 533px;
  background-color: blanchedalmond;
  padding-bottom: 5px;
  margin: 5px;
}
.imgPanel img{
  width: 45vw;
  max-width: 533px;
  object-fit: contain;
}
.tile {
  width: 90%;
  /* max-width: 250px; */
  cursor: pointer;
  height: 40px;
  display: flex;              /* make container a flexbox */
  flex-direction: column;
  align-items: center;        /* vertical centering */
  justify-content: center;    /* optional: horizontal centering */
  font: 1.5em sans-serif;
  color: aliceblue;
  background-color: royalblue;
  margin: 10px auto;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
.title {
  cursor: not-allowed;
  height: auto;
  font: 1.8em sans-serif;
}

.title a{
  font: 0.8em sans-serif;
}

.a-tile{
  font-weight: normal;
  height: auto;
  min-height: 40px;
  width: 90%;
  /* max-width: 40vw; */
  font: 1.2em sans-serif;
  color: white;
}
.default-title{
  font-weight: normal;
  height: auto;
  min-height: 60px;
}
.qtitle{
  font-weight: normal;
  height: auto;
  min-height: 60px;
  font: 1em sans-serif;
}
.etile{
  height: auto;
  min-height: 60px;
  font: 1em sans-serif;
  font-weight: normal;
}
.varBox{
  width: 100px;
  height: 50px;
  color: aliceblue;
  background-color: royalblue;
}
#categoryPanel{
  position: relative;
  z-index: 0;
}
#categoryModal{
  display: none;
}
#hintPanel{
  display: none;
}
#defaultQuizContainer{
  display: block;
}
#questionModal{
  display: none;
  /* width: 45vw; */
  max-width: 533px;
  background-color: aquamarine;
}

#quizModal{
  display: none;
}

.imageSrc {
  height: 35vw;
  width: 20vw;
  margin: 5px;
}
#buttonPanel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-evenly; */
    overflow: auto;
    padding: 8px 0;
}
.btnBlock{
  /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 5px;
    padding:5px 0 10px 0;
}
#btnBlock01 {
  min-width: 20vw;
}
#btnBlock02 {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
#btnBlock03 {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
/* .btnImg{
  width: 70px;
  height: 70px;
  border-radius: 7px;
  object-fit: fill;
} */
.subjectbtn{
  width: 85px;
  /* height: 85px; */
  text-align: center;
  display:block;
  /* background-color: #f4f4f4; */
  
  /* box-shadow: 10px 10px 10px darkslategrey; */
  /* border-radius: 10px; */
  /* font: 1em sans-serif;
  line-height: 20px; */
  margin: 10px;
  cursor: pointer;
}
.subjectbtn img {
  border: 3px solid slateblue;
  border-radius: 7px;
  object-fit: fill;
}
.subjectText{
  font: 0.7em sans-serif;
}
.panelbtn{
  width: 95%;
  /* max-width: 250px; */
  height: 50px;
  text-align: center;
  display:block;
  background-color: #f4f4f4;
  border: 3px solid slateblue;
  box-shadow: 10px 10px 10px darkslategrey;
  border-radius: 15px;
  font: 1em sans-serif;
  line-height: 20px;
  margin: auto;
  cursor: pointer;
}
.navBtn{
  margin: 20px;
  height: 75px;
  width: 7.5%;
  color: #f4f4f4;
  background-color: royalblue;
  border: 3px solid slateblue;
  border-radius: 5px;
  box-shadow: none;
  font: 4em sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
}
.btnDiv{
   background-color: blanchedalmond;
   margin: 5px 15px;
}
#applayer {
  background-size: contain;
  background-color: cornflowerblue;
}
#subjectBanner{
  display: flex;
  flex-direction: row;
}
#imagePanel {
  display: flex;
  flex-direction: row;
  width: 750px;
  height: 750px;
}
.imageItem {
  width: 250px;
  height: 250px;
}
#infoContainer {
    display: flex;
    flex-direction: column;
    background-color: teal;
    margin: 10px;
}
/* @media screen and (max-width: 1400px) {
  #container {   
    flex-direction: column;
  }
  #gridContainer {   
      flex-direction: row;
      margin: auto;
    }
  #buttonPanel {   
      flex-direction: column;

    }
  .btnBlock {
      margin: 0px;
      padding: 0 ;

  }
} */
@media screen and (max-width: 1050px) {
  header{
    font-size: 1.5em;
  }
  #container {   
    flex-direction: column;
  }
  /* #gridContainer {   
      flex-wrap: wrap;
    } */
  /* .imageSrc {
      height: 35vw;
      width: 35vw;
      margin: 5px;
} */
  /* #buttonPanel {   
      flex-direction: column;
      }  */
  #btnBlock01 {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
  #applayer {
      width: 92vw;
      max-width: 750px;
      height: 92vw;
      max-height: 750px;

  }
  .btnBlock {
      margin: 0 0 15px 0;
      padding: 0 ;
      
  }
  .panelbtn {
      width: 25vw;
  }
}
  @media screen and (max-width: 750px) {

.imgPanel img{
  width: 80vw;
  object-fit: contain;
}

.quizBlock{
    margin: auto;
    width: 80vw;
} 
.gridContainer {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}
.tile{
  /* margin: 1vw; */
}
.imageSrc {
    height: 40vw;
    width: 42vw;
    margin: 5px;
}
  #buttonPanel {   
    flex-direction: row;
    } 
    /* #buttonPanel {   
      justify-content: space-around;
      } */
  #btnBlock01 {
    flex-direction: column;
    }
  #btnBlock03 {
    flex-direction: column;
    }
  .panelbtn{
    width: 40vw;
    /* margin: 10px 5vw; */
    overflow: hidden;
  }
  .score{
    width: 40vw;
  }
  }

    @media screen and (max-width: 400px) {
  .panelbtn{
    width: 70vw;
  }
  .score{
    width: 70vw;
  }
  #imageName {
    font-size: 10vw;
  } 
   .quizBlock{
    width: 100vw;
   }  
  .tile{
    width: 100%;
    color: white;
    font: 1.2em sans-serif;
    font-weight: normal;
  }
  .imgPanel img {
    width: 100vw;
    /* object-fit: contain; */
  }
  /* #buttonPanel {
    flex-direction: column;
    justify-content: space-evenly;
  } */
    /* .btnBlock {
    flex-direction: row;
    justify-content: space-evenly;
    width: 95vw;
    } */
  }