body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
  margin: 0px;
}
#wrapper{
  max-width: 1250px;
  min-height: 100vh;
  background-color: lightblue;
  margin: auto;
}
h1{
  text-align: center;
}
.textBlock{
  text-align: center;
  margin: 15px;
}
header {
  color: #4e3f88;
  text-align: center;
  font: bold 1.6em sans-serif;
}
#quizHeader{
  display: none;
}
#container{  
    display: flex;
    flex-direction: column;
}
.gridContainer{   
   background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}    
#buttonPanel{
  display: flex;
  flex-direction: row;
  width: 80%;
}

.tilePanel{
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: space-between;
}
.quizBlock{
  display: block;
  width: 45vw;
  max-width: 500px;
  padding-bottom: 5px;
  margin: 5px;
  position: relative;
}
.imgPanel img{
  width: 45vw;
  max-width: 500px;
  height: 500px;
  object-fit: cover;
}
.tile {
  width: 97%;
  cursor: pointer;
  height: 10%;
  display: flex;              /* make container a flexbox */
  flex-direction: column;
  align-items: center;        /* vertical centering */
  justify-content: center;    /* optional: horizontal centering */
  font: 1.2em sans-serif;
  background-color: antiquewhite;
  border: solid 1px royalblue;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
}
.tile.image{
  height: auto;
}
.tile.splash{
  height: 20%;
}
.tile.splash.left{
  flex-direction: row;
}
.tile.score{
  font: 5em;
  background-color: royalblue;
  color: antiquewhite;
  height: 40%;
  width:20%;
}
.tile.q {
  height: fit-content;
  min-height: 100px;
  max-height: 150px;
  background-color: aliceblue;
}
.tile.big {
  height: 100px;
  cursor: not-allowed;
} 
.tile.text{
  height: auto;
  font: 1em sans-serif;
}
.title {
  background-color: aliceblue;
  color: royalblue;
  cursor: not-allowed;
  height: 160px;
  font: 1.6em sans-serif;
}

.title a{
  font: 0.8em sans-serif;
}
#scoreBlock{
  flex-direction: row;
  justify-content:space-evenly;
}
#buttonPanel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 8px 0;
}
.btnBlock{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 5px;
    padding:5px 0 10px 0;
}
#btnBlock01 {
  min-width: 20vw;
}
#btnBlock02 {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
#btnBlock03 {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.subjectbtn{
  text-align: center;
  display:block;
  margin: 10px 10px 0 10px;
  cursor: pointer;
}
.subjectbtn img {
  border: 3px solid slateblue;
  border-radius: 7px;
  object-fit: fill;
}
.subjectText{
  font: 0.7em sans-serif;
}
.panelBtn{
  width: 98%;
  height: 50px;
  text-align: center;
  display:block;
  background-color: #f4f4f4;
  border: 3px solid slateblue;
  box-shadow: 10px 10px 10px darkslategrey;
  border-radius: 15px;
  font: 1em sans-serif;
  line-height: 20px;
  cursor: pointer;
}
.navBtn{
  margin: 20px;
  /* height: 75px;
  width: 7.5%; */
  color: #f4f4f4;
  background-color: slateblue;
  /* border: 3px solid slateblue;
  border-radius: 5px;
  box-shadow: none; */
  font: 4em sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 35px;
}
.btnDiv{
   background-color: blanchedalmond;
   margin: 5px 15px;
}
.btnLeft{
  float:left;
}
#applayer {
  background-size: contain;
  background-color: cornflowerblue;
}
#subjectBanner{
  display: flex;
  flex-direction: row;
}
#imagePanel {
  display: flex;
  flex-direction: row;
  width: 750px;
  height: 750px;
}
.imageItem {
  width: 250px;
  height: 250px;
}
#infoContainer {
    display: flex;
    flex-direction: column;
    background-color: teal;
    margin: 10px;
}
#carouselImg{
  width: 80%;
  height:40%;
}
@media screen and (max-width: 1050px) {
  header{
    font-size: 1.2em;
  }
  #container {   
    flex-direction: column;
  }
  #btnBlock01 {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
  #applayer {
      width: 92vw;
      max-width: 750px;
      height: 92vw;
      max-height: 750px;

  }
  .btnBlock {
      margin: 0 0 15px 0;
      padding: 0 ;
      
  }
  /* .panelbtn {
      width: 92%;
  } */
}
  @media screen and (max-width: 750px) {

.imgPanel img{
  width: 100%;
  height: auto;
  max-width: 100vw;
  object-fit: contain;
}
.panelBox{
  width: 100%;
}
.quizBlock{
    margin: auto;
    width: 80vw;
    max-width: 100%;
} 
.gridContainer {
  display: flex;
  flex-direction: column;
}
.tile{
    height: 10%;
    font: 1.2em sans-serif;
    font-weight: normal;
    margin-bottom: 1vh;
  }
.title{
  height: 100px;
  font: 1.4em sans-serif;
  }
.tilePanel {
  height: 70vh;
}
.imageSrc {
    height: 40vw;
    width: 42vw;
    margin: 5px;
}
  #buttonPanel {   
    flex-direction: row;
    } 
  #btnBlock01 {
    flex-direction: column;
    }
  #btnBlock03 {
    flex-direction: column;
    }
  .panelbtn{
    width: 100%;
    margin-bottom: 1vh;
    overflow: hidden;
  }
  .score{
    width: 40vw;
  }
#scoreBlock {
    margin-top:10px;
    height: 50px;
    margin-top: 10px;
    align-items: center;
  } 
.tile.score {
    margin-bottom: 0;   
  }
#splashPanel {
  height: auto;
  }
 }

    @media screen and (max-width: 480px) {
  p {
    font-size: 1em;
  }
  .panelbtn{
    width: 98%;
  }
  .score{
    width: 70vw;
  }
  .subjectbtn{
    margin: 10px 0 0 0;
    width: 75px;
  }
  .subjectbtn img{
    height: 65px;
  }
  #imageName {
    font-size: 10vw;
  } 
  #imageContainer{
    display: none;
  }
  .navBtn{
    margin: 5px;
  }
  .textBlock{
    margin: 0 5px;
  }
  .quizBlock{
    width: 96vw;
   }  
  .title{
    height: 80px;
    font: 1.6em sans-serif;
  }
  .title a{
    font: 0.8em sans-serif;
  }
  .imgPanel img {
    width: 100%;
  }
  }
