body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0px;
    /* padding: 5px; */
}
#wrapper{
/* width: 100vw; */
min-height: 100vh;
background-color: lightblue;
padding: 5px;
}
header {
  color: #f4f4f4;
  background-color: slategray;
  text-align: center;
  /* padding: 15px 0; */
  margin: 5px;
  font: bold 2.5em sans-serif;
  text-shadow: 3px 3px darkslategray;
}
#container{  
    /* width: 99%; */
    display: flex;
    flex-direction: column;
   background-color: blanchedalmond;
   margin: 5px;
   padding: 5px;
}
section {
  background-color: slategray;
  margin: 0 0 5px;
  padding: 5px;
}
article {
  background-color: salmon;
}
.gridContainer{   
   background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 5px; */
}
#categoryPanel {
  height: 75vh;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  /* margin: 5px;
  padding: 5px; */
}
.topic-panel {
  background-color: salmon;
  /* display: flex;
  flex-direction: row; */
  margin: 5px;
  padding: 5px;
}
.panel {
  /* height: 350px;
  width: 350px; */
  background-color: salmon;
  margin:5px;
  padding: 5px; 
}
.quizBlock{
  width: 30vw;
  background-color: blanchedalmond;
  padding-bottom: 5px;
  margin: 5px;
}
.imgPanel img{
  height: 30vw;
  width: 30vw;
  object-fit: fill;
}
.tile {
  width: 90%;
  /* max-width: 250px; */
  height: 40px;
  display: flex;              /* make container a flexbox */
  flex-direction: column;
  align-items: center;        /* vertical centering */
  justify-content: center;    /* optional: horizontal centering */
  font: 1.5em sans-serif;
  color: aliceblue;
  background-color: royalblue;
  margin: 10px auto;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
.title {
  height: 60px;
  /* display: block; */
}
.a-tile{
  font-weight: normal;
  height: auto;
  min-height: 40px;
  width: 90%;
  max-width: 40vw;
  font: 1.2em sans-serif;
  color: white;
}
.default-title{
  font-weight: normal;
  height: auto;
  min-height: 60px;
}
.qtitle{
  font-weight: normal;
  height: auto;
  min-height: 60px;
  font: 1em sans-serif;
}
.etile{
  height: auto;
  min-height: 60px;
}
.varBox{
  width: 100px;
  height: 50px;
  color: aliceblue;
  background-color: royalblue;
}
#categoryPanel{
  position: relative;
  z-index: 0;
}
#categoryModal{
  display: none;
}
#defaultQuizContainer{
  display: block;
  /* width: 44vw; */
  /* position: relative; */
  /* z-index: 2; */
}
#questionModal{
  display: block;
  height: 500px;
  width: 30vw;
  max-width: 30vw;
  background-color: aquamarine;
  /* position: relative;
  z-index: 5; */
}
.imageSrc {
  height: 35vw;
  width: 20vw;
  margin: 5px;
}
#buttonPanel{
    /* grid-column: 1; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin: 10px; */
    padding: 8px 0;
}
.btnBlock{
  background-color: chocolate;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 5px;
    padding:5px 0 10px 0;
}
#btnBlock01 {
  min-width: 20vw;
}
#btnBlock02 {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
#btnBlock03 {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.panelbtn{
  width: 20vw;
  max-width: 250px;
  text-align: center;
  display:block;
  background-color: #f4f4f4;
  border: 3px solid slateblue;
  box-shadow: 10px 10px 10px darkslategrey;
  border-radius: 15px;
  font: 1em sans-serif;
  line-height: 20px;
  margin: 5px 15px;
  cursor: pointer;
}
.btnDiv{
   background-color: blanchedalmond;
   margin: 5px 15px;
}
#applayer {
  background-size: contain;
  background-color: cornflowerblue;
}
#imagePanel {
  display: flex;
  flex-direction: row;
  width: 750px;
  height: 750px;
}
.imageItem {
  width: 250px;
  height: 250px;
}
#infoContainer {
    display: flex;
    flex-direction: column;
    background-color: teal;
    margin: 10px;
}
/* @media screen and (max-width: 1400px) {
  #container {   
    flex-direction: column;
  }
  #gridContainer {   
      flex-direction: row;
      margin: auto;
    }
  #buttonPanel {   
      flex-direction: column;

    }
  .btnBlock {
      margin: 0px;
      padding: 0 ;

  }
} */
@media screen and (max-width: 1050px) {
  header{
    font-size: 1.5em;
  }
  #container {   
    flex-direction: column;
  }
  #gridContainer {   
      flex-wrap: wrap;
    }
  /* .imageSrc {
      height: 35vw;
      width: 35vw;
      margin: 5px;
} */
  #buttonPanel {   
      flex-direction: column;
      } 
  #btnBlock01 {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
  #applayer {
      width: 92vw;
      max-width: 750px;
      height: 92vw;
      max-height: 750px;

  }
  .btnBlock {
      margin: 0 0 15px 0;
      padding: 0 ;
      
  }
  .panelbtn {
      width: 25vw;
  }
}
  @media screen and (max-width: 650px) {
  
#gridContainer {
  flex-wrap: wrap;
}
.tile{
  margin: 1vw;
}
    .imageSrc {
      height: 40vw;
      width: 42vw;
      margin: 5px;
}
    #buttonPanel {   
      flex-direction: row;
      } 
    /* #buttonPanel {   
      justify-content: space-around;
      } */
  #btnBlock01 {
    flex-direction: column;
    }
  #btnBlock03 {
    flex-direction: column;
    }
  .panelbtn{
    width: 40vw;
    /* margin: 10px 5vw; */
    overflow: hidden;
  }
  .score{
    width: 40vw;
  }
  }

    @media screen and (max-width: 400px) {
  .panelbtn{
    width: 70vw;
  }
  .score{
    width: 70vw;
  }
  #imageName {
    font-size: 10vw;
  }   
  #buttonPanel {
    flex-direction: column;
    justify-content: space-evenly;
  }
    /* .btnBlock {
    flex-direction: row;
    justify-content: space-evenly;
    width: 95vw;
    } */
  }