body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0px;
    /* padding: 5px; */
}
#wrapper{
/* max-width: 1250px; */
min-height: 100vh;
background-color: lightblue;
margin: auto;
/* padding: 5px; */
}
h1{
  text-align: center;
}
.textBlock{
  text-align: center;
  margin: 15px;
}
header {
  color: slategrey;
  text-align: center;
  font: bold 2.5em sans-serif;
}
#quizHeader{
  display: none;
}
#container{  
    display: flex;
    flex-direction: column;
}
.gridContainer{   
   background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}    
#buttonPanel{
  display: flex;
  flex-direction: row;
  width: 80%;
}

.tilePanel{
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: space-between;
}
/* #categoryPanel {
  height: 75vh;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  /* margin: 5px;
  padding: 5px; 
} */
/*.topic-panel {
   background-color: salmon;
  /* display: flex;
  flex-direction: row; */
  /* margin: 5px;
  padding: 5px;  
}*/
/*.panel {
  height: 350px;
   width: 350px; */
  /* background-color: salmon; */
  /* background-color: aliceblue;
  margin:5px;
  padding: 5px;  
}*/
.quizBlock{
  display: block;
  width: 45vw;
  max-width: 900px;
  /* background-color: blanchedalmond; */
  padding-bottom: 5px;
  margin: 5px;
  position: relative;
}
.imgPanel img{
  width: 45vw;
  height: 75vh;
  max-width: 900px;
  object-fit: cover;
}
.tile {
  width: 97%;
  /* max-width: 250px; */
  cursor: pointer;
  height: 40px;
  display: flex;              /* make container a flexbox */
  flex-direction: column;
  align-items: center;        /* vertical centering */
  justify-content: center;    /* optional: horizontal centering */
  font: 1.2em sans-serif;
  /* color: aliceblue; */
  background-color: antiquewhite;
  border: solid 1px royalblue;
  border-radius: 10px;
  /* margin: 10px auto; */
  /* font-weight: bold; */
  text-align: center;
  padding: 5px;
}
.tile.q {
  height: fit-content;
  min-height: 100px;
  max-height: 150px;
  background-color: aliceblue;
  
  /* font: 0.7em sans-serif;
  margin: 5px; */
}
.tile.big {
  height: 100px;
  cursor: not-allowed;
} 
/* .tile.big{
  height: auto;
} */
.title {
  background-color: linen;
  cursor: not-allowed;
  height: 160px;
  font: 1.6em sans-serif;
}

.title a{
  font: 0.8em sans-serif;
}

/* .a-tile{
  font-weight: normal;
  height: auto;
  min-height: 40px;
  /* width: 90%; */
  /* max-width: 40vw; 
  font: 1.2em sans-serif;
  color: white;
} */*/
/* .default-title{
  font-weight: normal;
  height: auto;
  min-height: 60px;
} */
/* .qtitle{
  font-weight: normal;
  height: auto;
  min-height: 60px;
  font: 1em sans-serif;
} */
/* .etile{
  height: auto;
  min-height: 60px;
  font: 1em sans-serif;
  font-weight: normal;
} */
.varBox{
  width: 100px;
  height: 50px;
  color: aliceblue;
  background-color: royalblue;
}
/* #categoryPanel{
  position: relative;
  z-index: 0;
} */
/* #categoryModal{
  display: none;
} */
/* #hintPanel{
  display: none;
} */
/* #defaultQuizContainer{
  display: block;
} */
/* #questionModal{
  display: none;
  /* width: 45vw; */
  /* max-width: 533px;
  background-color: aquamarine;
} */ 

/* #quizModal{
  display: none;
} */

/* .imageSrc {
  height: 35vw;
  width: 20vw;
  margin: 5px;
} */
#buttonPanel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-evenly; */
    overflow: auto;
    padding: 8px 0;
}
.btnBlock{
  /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 5px;
    padding:5px 0 10px 0;
}
#btnBlock01 {
  min-width: 20vw;
}
#btnBlock02 {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
#btnBlock03 {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
/* .btnImg{
  width: 70px;
  height: 70px;
  border-radius: 7px;
  object-fit: fill;
} */
.subjectbtn{
  width: 85px;
  text-align: center;
  display:block;
  margin: 10px 10px 0 10px;
  cursor: pointer;
}
.subjectbtn img {
  border: 3px solid slateblue;
  border-radius: 7px;
  object-fit: fill;
}
.subjectText{
  font: 0.7em sans-serif;
}
.panelbtn{
  width: 98%;
  /* max-width: 250px; */
  height: 50px;
  text-align: center;
  display:block;
  background-color: #f4f4f4;
  border: 3px solid slateblue;
  box-shadow: 10px 10px 10px darkslategrey;
  border-radius: 15px;
  font: 1em sans-serif;
  line-height: 20px;
  /* margin: 3%; */
  cursor: pointer;
  /* position: absolute;
  bottom: 0; */
}
.navBtn{
  margin: 20px;
  height: 75px;
  width: 7.5%;
  color: #f4f4f4;
  background-color: royalblue;
  border: 3px solid slateblue;
  border-radius: 5px;
  box-shadow: none;
  font: 4em sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 35px;
}
.btnDiv{
   background-color: blanchedalmond;
   margin: 5px 15px;
}
#applayer {
  background-size: contain;
  background-color: cornflowerblue;
}
#subjectBanner{
  display: flex;
  flex-direction: row;
}
#imagePanel {
  display: flex;
  flex-direction: row;
  width: 750px;
  height: 750px;
}
.imageItem {
  width: 250px;
  height: 250px;
}
#infoContainer {
    display: flex;
    flex-direction: column;
    background-color: teal;
    margin: 10px;
}
/* @media screen and (max-width: 1400px) {
  #container {   
    flex-direction: column;
  }
  #gridContainer {   
      flex-direction: row;
      margin: auto;
    }
  #buttonPanel {   
      flex-direction: column;

    }
  .btnBlock {
      margin: 0px;
      padding: 0 ;

  }
} */
@media screen and (max-width: 1050px) {
  header{
    font-size: 1.5em;
  }
  #container {   
    flex-direction: column;
  }
  /* #gridContainer {   
      flex-wrap: wrap;
    } */
  /* .imageSrc {
      height: 35vw;
      width: 35vw;
      margin: 5px;
} */
  /* #buttonPanel {   
      flex-direction: column;
      }  */
  #btnBlock01 {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
  #applayer {
      width: 92vw;
      max-width: 750px;
      height: 92vw;
      max-height: 750px;

  }
  .btnBlock {
      margin: 0 0 15px 0;
      padding: 0 ;
      
  }
  .panelbtn {
      width: 92%;
  }
}
  @media screen and (max-width: 750px) {

.imgPanel img{
  width: 100%;
  height: auto;
  max-width: 100vw;
  object-fit: contain;
}
.panelBox{
  width: 100%;
}
.quizBlock{
    margin: auto;
    width: 100%;
    max-width: 100%;
} 
.gridContainer {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}
.tile{
    height: auto;
    font: 1.2em sans-serif;
    font-weight: normal;
    margin-bottom: 1vh;
  }
.title{
  height: 100px;
  font: 1.4em sans-serif;
  }
.tilePanel {
  height: auto;
}
.imageSrc {
    height: 40vw;
    width: 42vw;
    margin: 5px;
}
  #buttonPanel {   
    flex-direction: row;
    } 
    /* #buttonPanel {   
      justify-content: space-around;
      } */
  #btnBlock01 {
    flex-direction: column;
    }
  #btnBlock03 {
    flex-direction: column;
    }
  .panelbtn{
    width: 100%;
    margin-bottom: 1vh;
    overflow: hidden;
  }
  .score{
    width: 40vw;
  }
  }

    @media screen and (max-width: 400px) {
  .panelbtn{
    width: 92%;
  }
  .score{
    width: 70vw;
  }
  #imageName {
    font-size: 10vw;
  } 
   .quizBlock{
    width: 100vw;
   }  
  .tile{
    font: 1em sans-serif;
  }
  .title{
    font: 1.2em sans-serif;
  }
  .imgPanel img {
    width: 100vw;
    /* object-fit: contain; */
  }
  /* #buttonPanel {
    flex-direction: column;
    justify-content: space-evenly;
  } */
    /* .btnBlock {
    flex-direction: row;
    justify-content: space-evenly;
    width: 95vw;
    } */
  }