<!DOCTYPE html>
<html>
<head>
  <title>Quiz Server</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/block.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carousel.css') }}">
  <script>const STATIC_IMG_BASE = "{{ url_for('static', filename='img/') }}";</script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script type="module"  src = "{{ url_for('static', filename='js/quiz.js') }}"></script>
  <script type="module" src = "{{ url_for('static', filename='js/SubjectCatalog.js') }}"></script>
  <script type="module" src = "{{ url_for('static', filename='js/QuizData.js') }}"></script>
  <script src = "{{ url_for('static', filename='js/carousel.js') }}"></script>
  <script>  </script>
</head>
<body>
  <div id="wrapper"> 
    <header id = "pageTitle">Ancient Civilisations<a style = "font-size: small ;"> &nbsp; Quiz Server from cv3tech.com</a></header>

            <!-- Container for Button-Widget Grid and Info-Panel  -->
    <div id ="container">    

      <section><!-- Section for Button and Widget Panel -->
          <!-- Container for Button and Widget Panel -->

        <!-- <div id="google_translate_element"></div> -->

        <div id="carousel-wrapper" class="carousel-wrapper">
          <button class="navBtn left" id="leftNav">&#9664;</button>
          <div class="carousel" id="carousel"></div>
          <button class="navBtn right" id="rightNav">&#9654;</button>
        </div>

               <!-- Button block 3 -->
        <div id="btnBlock03" class="btnBlock" style="display:none;">
          <div>  
          <div>
            <label>Points Available:</label>
            <div id="pointsBox"  class="tile varBox" >0</div>
          </div>
          <div>
            <label>Total Score:</label>
            <div id="scoreBox"  class="tile varBox" >0</div>
          </div>
            
      </section>


      <section> <!-- Section for Quiz Panel Container  -->

        <header id = "quizHeader"></header>
        <div id ="panelBlock" class = "gridContainer">
          <div id ="modalContainer" class = "panelBox">
            
            <div id ="subjectModal" class = "quizBlock"></div>
            <div id ="categoryModal" class = "quizBlock"></div>
            <div id ="questionModal" class = "quizBlock"></div>  
            <div id ="quizModal" class="quizBlock"></div>
            <div id ="answerModal" class = "quizBlock"></div>
            <!-- <div id ="hintPanel" class="quizBlock"></div> -->
          </div>   
            <!-- <div id ="randomQuizModal" class="randomQuizBlock"></div>  -->
            

            <div id ="imageContainer" class="quizBlock">
              <div id = "subjectImage" class = "imgPanel">
                <img src = "{{ url_for('static', filename='img/default.webp') }}" alt = "QuizBrowser image blending topics on historical subjects into a unified and interactive quiz setting.">
              </div>  
            </div> 
        </div>

      </section>
    </div>
  </div>
</body>
</html>
