<!DOCTYPE html>
<html>
<head>
  <title>Quiz Selection</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/block.css') }}">
  <script>const STATIC_IMG_BASE = "{{ url_for('static', filename='img/') }}";</script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src = "{{ url_for('static', filename='js/quiz.js') }}"></script>
  <script>  </script>
</head>
<body>
  <div id="wrapper"> 
    <header>Select Quiz Topic</header>

            <!-- Container for Button-Widget Grid and Info-Panel  -->
    <div id ="container">    

      <section><!-- Section for Button and Widget Panel -->
          <!-- Container for Button and Widget Panel -->

        
              <!-- Button block 2 -->
        <div id="buttonPanel" class="btnBlock">
        </div> 


               <!-- Button block 3 -->
        <div id="btnBlock03" class="btnBlock" style="display:none;">
          <div>  
          <div>
            <label>Points Available:</label>
            <div id="pointsBox"  class="tile varBox" >0</div>
          </div>
          <div>
            <label>Total Score:</label>
            <div id="scoreBox"  class="tile varBox" >0</div>
          </div>
            
      </section>


      <section> <!-- Section for Quiz Panel Container  -->

        <header id = "quizHeader">Random Quiz</header>
        <div id ="panelBlock" class = "gridContainer">
          <!-- <div id ="categoryPanel" class = "topic-panel"> -->

            <!-- Quiz Panels -->
            <div id ="quizModal" class="quizBlock"></div> 
            <div id ="randomQuizModal" class="randomQuizBlock"></div> 
            <div id ="categoryModal" class = "quizBlock"></div>
            <div id ="questionModal" class = "quizBlock"></div> 

            <div id ="imageContainer" class="quizBlock">
              <div id = "subjectImage" class = "imgPanel">
                <img src = "{{ url_for('static', filename='img/default.webp') }}" alt = "QuizBrowser image blending topics on historical subjects into a unified and interactive quiz setting.">
              </div>  
            </div> 

          </div>
        </div>

      </section>
    </div>
  </div>
</body>
</html>
